@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
.body {
    background: #201d3a;
height:100vh;
  font-family: "Roboto", sans-serif;
}
.tyu {
  display: flex;
  justify-content: center;
  align-items: centr;
}
.login-box {
  margin-top: 60px;
  height: auto;
  background: #1b1f35;
  font-family: 'Asap', sans-serif;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
 background: linear-gradient(600deg,#7f79cb,rgba(1, 0, 14, 0.7));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-light{    background-color: rgb(126, 216, 182) !important;
border:none;}
.bg-light{  background-color: rgb(126, 216, 182) !important;
}
.login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Asap', sans-serif;
}

.login-form {
  margin-top: 50px;
  text-align: left;
}

input[type="text"] {
    background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #757777;
  border-top: 0px;
  border-radius:5px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #717171;
  padding-left: 6px;
}

input[type="password"] {
  background-color: #ffffff;
  border-radius:5px;
  border: none;
  border-bottom: 2px solid #757777;
  border-top: 0px;
  font-weight: bold;
  color: #000000;
  outline: 0;
  padding-left: 0px;
  margin-bottom: 20px;
  color: #ecf0f5;
}

.form-group {

  margin-bottom: 40px;
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #082140;
  outline: 0;
  background-color: #1a2226;
  color: #ecf0f5;
  transition: 2s;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 15px;
  color: #ffffff;
  padding-bottom:4px;
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: #9c9d9e;
  color: #9c9d9e;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
  background-color: #d3d3d3;
  right: 0px;
  outline: none;
  border: none;
  transition: 2s;
}

.login-btm {
  float: left;
}

.login-button {
  padding-right: 0px;
  text-align: right;
  margin-bottom: 25px;
}

.login-text {
  text-align: left;
  padding-left: 0px;
  color: #a2a4a4;
}

.loginbttm {
  padding: 0px;
}
